:root {
    --primary-color: #2563EB;
    --category-color: #60a5fa;
    --gold: rgb(253, 196, 52);
    --white: #ffff;
    --black: rgba(0, 0, 0, 0.8);
}

.products-container {
    background-color: var(--alice-blue);
    grid-area: products;
    padding: 1rem;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.products {
    text-align: center;
}

.filters {
    grid-area: filters;
    height: 100vh;
    padding: 1rem;
}

.filter-clear {
    border: 0px;
    padding: 10px;
}

.main {
    display: grid;
    grid-template-columns: 200px;
    grid-template-areas: "filters products";
    gap: 2rem;
}

.price-range-limits {
    display: flex;
    gap: 5rem;
}

.default-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: rgb(223, 128, 128);
}