:root {
    --gold: #fdc434;
}

.cart-container {
    text-align: center;
}

.default-cart-page {
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-text {
    background-color: var(--gold);
    padding: 1rem;
    border-radius: 2rem;
}