:root {
    --primary-color: #2563EB;
    --secondary-color: #eff6ff;
    --gold: rgb(253, 196, 52);
    --white: #ffff;
    --black: rgba(0, 0, 0, 0.8);
}

.hero-header-container {
    background-color: var(--secondary-color);
}

.hero-header {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    justify-content: space-around;
}

.hero-brand-name {
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid var(--gold);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
}

.hover-effect:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--gold);
}

.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    outline: none;
    width: 100%;
}

.badge {
    position: absolute;
    background-color: var(--gold);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    font-size: 3rem;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 20%;
    gap: 10px;
}

.search-btn {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
}