.hero-image {
    margin: 2rem;
}

.homepage {
    text-align: center;
}

.hero-container {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-size: 2rem;
}